#d{
    display: flex;
    align-content: flex-start;
    height: 50px;
    width: 100px;
    margin-top: 2vh;
    margin-left: -22vw;
}
.d1{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin: 35vw;
    
}

.d2{
    height: 100vh;
    width: 100vw;
    background-image: url("https://mobirise.com/extensions/softwarem4/software-app/assets/images/background1.jpg");
}